@charset "UTF-8";
/* Elizabeth Sharon Rose */

/* body font families */
body{
    font-family: Verdana, Geneva, sans-serif;
}

/* h1 */
h1{
    font-family:  Century Gothic, Verdana, Geneva, sans-serif;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    margin: 30px;
    letter-spacing: 5px;
    text-transform: uppercase;
}

/* h2 */
h2{
    margin-top: 10px;
    font-family:  Century Gothic, Lucida Sans Unicode, Verdana, Geneva, sans-serif;
    text-align: left;
    font-size: 110%;
    padding: 10px;
    font-weight: bold;
    letter-spacing: 0px;
}

/* p */
p{
    text-indent: 3%;
    padding-left: 30px;
    padding-top: 8px;
    padding-bottom: 8px;
    line-height: 23px;
    text-align: left;
}

/* a href */
a[href]{
    font-weight: bold;
    text-decoration: underline;
}

/* nav */
nav{
    font-family:  Century Gothic, Lucida Sans Unicode, Verdana;
    text-align: center;
    font-size: 16px;
    letter-spacing: 1px;
}

 ul{
    margin-left: 50px;
    margin-top: 10px;
    list-style-type: none;
 }
 ul li{
    margin-bottom: 5px;
    list-style-type: square;    
 }
 em{
    font-weight: bold;
    font-size: 16px;
 }
.square{
    list-style-type: none;    
}
dd{
    margin-left: auto;
    padding-left: 20px;
}
dl{
    margin-left: auto;
    padding-left: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}
dt{
    margin-bottom: 10px;
}
.dt_heading{
    font-size: 15px;
    font-weight: bold;
    text-decoration: underline;
}
#top{
    margin-left: 30px;
    margin-bottom: 30px;
}
