@charset "UTF-8";
/* Elizabeth Sharon Rose, Akshay Vangari */

/* body font families */
body{
    font-family: Verdana, Geneva, sans-serif;
}

/* h1 */
h1{
    font-family:  Impact, Century Gothic, Verdana, Geneva, sans-serif;
    text-align: center;
    font-size: 230%;
    margin: 30px;
    letter-spacing: 2px;
    text-shadow: 2px 1px #AAB6A2;
    text-transform: uppercase;
}

/* nav */
nav{
    font-family:  Century Gothic, Lucida Sans Unicode, Verdana, sans-serif;
    text-align: center;
    font-size: 16px;
    letter-spacing: 1px;
}


input, select
{
    margin-left: 5px;
	float: right;
	clear: both; 
	position: relative;
	bottom: 30px;
}

select
{
    bottom: 23px;
}

#review-radio input
{
    float: left;
    bottom: 17px;
}

#review-radio label
{
    padding-left: 30px;
}

#reset-submit input
{
    bottom: 0px;   
}

input[type = "checkbox"]
{
	float:left;
    clear: both;
	bottom: 19px;
}

label
{
    float: left;
    clear: both;    
    text-align: right;
    margin-right: 0.5em;
    display: block;
    padding-left:20px;
}

#profile input:not([type="checkbox"]), select
{
	margin-right: 30%;
    min-width: 159px;
}

#login input
{
	margin-right: 5%;
	bottom: 20px;
}

ul
{
	padding: 10px 15px;
}

fieldset
{
    border: 3px solid #041152;
    width: 75%;
}

legend
{
    font-family:  Century Gothic, Lucida Sans Unicode, Verdana, sans-serif;
    font-weight: bold;
    color: #041152;
    background: #cbd7da;
    border: 1px solid #11b5b7;
    padding: 1px 4px;
	margin-bottom: 15px;
}

fieldset[id="create-account"], #review-and-feedback
{
    border: none;
	margin: 15px auto;
}

fieldset:not(#create-account)
{
	margin: 15px auto;
}


fieldset[id="create-account"] > fieldset{
    margin-left: 30px;
}


fieldset[id="create-account"] p{
    font-style: italic;
    font-weight: bold;
    font-size: 80%;
    color: #c00215;
    padding-top: 5px;
    padding-bottom: 15px;
}

fieldset[id="reset-submit"]
{
    border: none;
    text-align: center;
    padding-top: 10px;
}

fieldset[id="reset-submit"] > legend
{
    display: none;
}

footer{
    text-align: center;
    font-size: 80%;
}
